.page {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create {
    padding: 60px;
    background: rgb(255, 252, 246);
    background-clip: content-box;
    border: solid 5px rgb(255, 208, 0);
    border-radius: 8px;
    background-clip: border-box;
    transform: scale(0.8);
    width: 50%;
}

.create h2 {
    text-align: center;
    margin: 40px;
}

.form {
    margin: 60px 150px;
}

.create label {
    display: flex;
    flex-direction: column;

    /* padding: 50px; */
    margin-top: 50px;
    text-align: left;
    /* text-align: left; */
    /* width: 100%; */
}

.box {}

.method span {
    text-align: left;
}

.ingredients {
    display: flex;
    column-gap: 10px;
}

.list {
    margin: 10px;
    color: rgb(138, 119, 26);
}

button:hover {
    background-color: rgb(231, 216, 199);
}

button:active {
    background-color: rgb(189, 177, 162);
}

button {
    padding: 20px 30px;
    background-color: antiquewhite;
    border: none;
    border-radius: 10px;
    font-size: 15px;

}

.submit {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    width: 40%;
}