.App {
  min-height: 100%;
  background: url(https://static.vecteezy.com/system/resources/previews/004/398/936/original/seamless-pattern-of-black-and-white-nuts-repeat-background-with-isolated-monochrome-hazel-nut-walnut-pistachio-cashew-food-texture-in-cartoon-style-vector.jpg);
  background-size: cover;
  /* display: flex;
  justify-content: center; */
}